##################################
### UiPath Ignore Folders      ###
##################################
## Ignore .objects folder
## Ignore .local folder
## Ignore .settings folder
## Ignore .tmh folder

.local
.local/*
/.local
/.local/*
.settings
.settings/*
/.settings
/.settings/*
.objects
.objects/*
/.objects
/.objects/*
.tmh
.tmh/*
/.tmh
/.tmh/*
~*

##################################
### OTHER IDE and TEMP files   ###
##################################